[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aria2p = "*"
requests = "*"
feedparser = "*"
PyYAML = "*"
SQLAlchemy = "*"
win32-setctime = "*"

[requires]
python_version = "3.8"
